<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon-precomposed" href="static/bckspc-touch-icon.png" />
        <title>Backspace Dooropener</title>

        <link rel="stylesheet" href="/static/app.css">

        <script src="/static/jquery.min.js"></script>
        <script src="/static/app.js"></script>
        
    </head>
    <body>

        <div id="content">
            <h1>
                <img src="/static/backspace.png" height="35" alt="Backspace"> <span>- Door</span>
            </h1>

            <div id="pin-form">
                <select name="user-id" id="user-id">
                        <option value="-1">Choose nickname</option>
                    {% for user in users: %}
                        <option value="{{user}}">{{user}}</option>
                    {% endfor %}
                </select>
                <input type="password" name="pin-field" id="pin-field"><br>
                <input type="submit" class="pin-submit" name="opentype" value="Open">
                <input type="submit" class="pin-submit" name="opentype" value="Close">
            </div>

        </div>
        
    </body>
</html>
